@import "./src/boilerplate.scss";

.artists-name{
  &:hover {
    text-decoration: underline;
  }
}

.Albums {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;

  &Link {
    color: $color-default;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
}

.light_mode {
  .AlbumsLink {
    color: $color-default-light;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
}
