@import "./src/boilerplate.scss";

.hidden {
  display: none
}

.albumLink {
  text-decoration: none!important;
  color: $color-default;

  &:hover {
    text-decoration: underline !important;
    color: $color-default;
  }
}

.Pointer {
  cursor: pointer;
}

.TableRow {
  user-select: none;
  &:hover:not(.Selected):not(.TableHeader) {
    background-color: $color-secondary;
  }
}
.Selected {
  background-color: $color-primary;

  .checkbox.checked {
    color: $color-default;
  }

  .Tag {
    color: $color-default !important;
  }
}

.Tag {
  border: 1px solid currentColor;
  border-radius: $border-radius;
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &Color0 {
    color: $color-tag-0;
  }
  &Color1 {
    color: $color-tag-1;
  }
  &Color2 {
    color: $color-tag-2
  }
  &Color3 {
    color: $color-tag-3;
  }
  &Color4 {
    color: $color-tag-4;
  }
  &Color5 {
    color: $color-tag-5;
  }
}