@import "./src/boilerplate.scss";

.hidden {
  display: none;
}

.albumLink {
  text-decoration: none;
  color: $color-default;

  &:hover {
    text-decoration: underline;
    color: $color-default;
  }
}

.Pointer {
  cursor: pointer;
}

.TableRow {
  user-select: none;

  &:hover:not(.Selected):not(.TableHeader):not(.Playing) {
    background-color: $color-secondary;
  }
}

.EpisodeRow {
  padding: 0.5rem;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 175px;
  width: 100%;
  transition: $transition-base;
  border-top: 1px solid rgba(205, 206, 205, 0.11);

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    text-decoration: none;
    color: $color-default;

    .noTags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 80%;

      .TableCellArtwork {
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-start;
        flex-basis: auto;
        align-items: center;
        padding-left: 16px;
        width: 150px;
        height: 100%;
      }

      .EpisodeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;

        p {
          font-family: $font-special;
          width: 100%;
          height: 45px;
          white-space: pre-wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          text-align: justify;
        }
      }

      .TableCellPlayProgress {
        margin-top: 8px;
        position: relative;
        align-items: center;
        display: flex;
        float: left;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;


        .PlayProgress {

          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .PlayEpisode {
            width: 52px;

            &:hover::before {
              color: rgba($white, 1);
            }

            &:before {
              content: "\e038";
              font-family: "Material Icons";
              width: 50px;
              display: inline-block;
              font-size: 50px;
              text-align: center;
              color: rgba($white, 0.45);
              transition: $transition-base;
            }
          }

          .ReleaseProgress {
            margin-left: 8px;
            font-size: 13px;
            opacity: 0.8;
          }
        }

        .progress-bar {
          margin-left: 8px;
          margin-right: 45%;
          background: $white;
          border-radius: 99px;
          width: 200px;
          height: 5px;
          position: relative;
          overflow: hidden;
          display: inline-block;

          &::before {
            border-radius: 99px;
            position: absolute;
            height: 5px;
            background: $color-primary;
            content: "";
            width: 0;
            transition: width 0.2s;
          }
        }

        $start: 1;
        $end: 100;

        @for $i from $start through $end {
          .progress-bar-#{$i}::before {
            width: $i * 1%;
          }
        }
      }
    }
  }
}

.EpisodeRow {
  &.Playing .PlayProgress .PlayEpisode::before {
    content: "\e035" !important;
  }

  &.Playing.Paused .PlayProgress .PlayEpisode::before {
    content: "\e038" !important;
  }
}

.Playing {
  background-color: $color-secondary;
  animation-name: playingColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: $color-primary;

  a, button span{
    color: $color-primary;
    &:hover{
      color: $color-primary;
    }
  }

  .checkbox.checked {
    color: $color-default;
  }
}

.Paused {
  animation: none;
}

@keyframes playingColor {
  0% {
    background-color: $color-secondary;
  }
  50% {
    background-color: rgba(24, 40, 58, 0.2);
  }
  100% {
    background-color: $color-secondary;
  }
}

.Selected {
  background-color: rgba($color-primary, .2);

  .checkbox.checked {
    color: $color-default;
  }

}

.Tag {
  border: 1px solid currentColor;
  border-radius: $border-radius;
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &Color0 {
    color: $color-tag-0;
  }

  &Color1 {
    color: $color-tag-1;
  }

  &Color2 {
    color: $color-tag-2;
  }

  &Color3 {
    color: $color-tag-3;
  }

  &Color4 {
    color: $color-tag-4;
  }

  &Color5 {
    color: $color-tag-5;
  }
}

.row {
  min-height: 500px;
}

.col {
  min-height: 100px;
}

.light_mode {
  @keyframes playingColor_light {
    0% {
      background-color: $color-background-light;
    }
    50% {
      background-color: rgba($color-background-light, 0.2);
    }
    100% {
      background-color: $color-background-light;
    }
  }

  .TableRow:not(.Playing) .albumLink {
    color: $color-default-light;
  }

  .Selected {
    background-color: rgba($color-primary, .5);

    .checkbox.checked {
      color: $color-default-light;
    }
  }

  .Playing {
    background-color: $color-background-light;
    animation-name: playingColor_light;

    .checkbox.checked {
      color: $color-default-light;
    }

    .albumLink:hover{
      color: $color-primary;
    }
  }

  .EpisodeRow a .noTags .TableCellPlayEpisode {
    &:hover::before {
      color: rgba($color-default-light, 1.0);
    }

    &:before {
      color: rgba($color-default-light, 0.45);
    }
  }

  .EpisodeRow a .noTags .TableCellPlayProgress .PlayProgress .PlayEpisode {
    &:hover::before {
      color: rgba($color-default-light, 0.75);
    }

    &:before {
      color: rgba($color-default-light, 0.45);
    }
  }

  .EpisodeRow a .noTags .TableCellPlayProgress .progress-bar {
    background: rgba($color-default-light, 0.3);
  }

  .ReleaseProgress {
    color: $color-default-light;
  }
}
