@import "./src/boilerplate.scss";

.Pointer {
  cursor: pointer;
}

.TableRow {
  user-select: none;
  &:hover:not(.Selected):not(.TableHeader) {
    background-color: $color-secondary;
  }
}

.EpisodeRow {
  padding: 0.5rem;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 175px;
  width: 100%;
  transition: $transition-base;
  border-top: 1px solid rgba(205, 206, 205, 0.11);
}

.Selected {
  background-color: $color-primary;

  .checkbox.checked {
    color: $color-default;
  }

  .Tag {
    color: $color-default !important;
  }
}

.Tag {
  border: 1px solid currentColor;
  border-radius: $border-radius;
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &Color0 {
    color: $color-tag-0;
  }
  &Color1 {
    color: $color-tag-1;
  }
  &Color2 {
    color: $color-tag-2
  }
  &Color3 {
    color: $color-tag-3;
  }
  &Color4 {
    color: $color-tag-4;
  }
  &Color5 {
    color: $color-tag-5;
  }
}

.row {
  min-height: 500px;
}
.col {
  min-height: 100px;
}