@import "/node_modules/react-grid-layout/css/styles.css";
@import "/src/boilerplate";
//@import "/node_modules/react-resizable/css/styles.css";

.DashboardContainer {
  height: 100%;
  overflow: hidden auto;
  position: relative;
  width: 100%;
}

.DashboardConfigurator {
  align-items: stretch;
  background-color: $color-background;
  border-bottom: $border-width $border-style $border-color;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $spacer;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;

  .DashboardTagTracklistsForm {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    margin-right: $spacer;

    &Selects {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      margin-right: $spacer / 4;
      .input-select {
        height: 100%;
      }
    }
  }

  .DashboardChartsForm {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    margin-right: $spacer;

    &Selects {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      margin-right: $spacer / 4;
      .input-select {
        height: 100%;
      }
    }

    .DashboardChartsFormButtons {
    }
  }

  .DashboardSettingsForm {
    align-content: center;
    display: flex;
    flex-flow: row wrap;

    .Checkbox {
      margin-right: $spacer;
    }
  }
}

.Dashboard {
  z-index: 0;

  .DashboardItem {
    background-color: $color-accent-dark;
    border-radius: $border-radius;
    box-sizing: border-box;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba($color-secondary,0.1);

    //doesnt work with the context menu, please remove or specify elements
    // &>* {
    //   height: 100%;
    //   width: 100%;
    // }
  }

  .RemoveButton {
    background-color: lighten($color-accent-dark, 0.5);
    border: none;
    color: $color-default;
    display: none;
    opacity: 0;
    margin: 0;
    padding: $spacer / 2;
    position: absolute;
    right: 0;
    top: 0;
  }

  .DashboardItem:hover .RemoveButton {
    opacity: 1;
  }

  &.editable {
    .DashboardItem {
      cursor: move;
      &>*:not(.react-resizable-handle):not(.RemoveButton) {
        pointer-events: none;
      }
    }

    .RemoveButton {
      display: inline-flex;
    }
  }

  .react-grid-item {
    &.react-grid-placeholder {
      border-radius: $border-radius;
      background-color: transparentize($color-accent-dark, 0.5);
      opacity: 1;
      z-index: 0;
    }

    & > .react-resizable-handle {
      border-top-left-radius: $border-radius * 4;
      height: $border-radius * 4;
      width: $border-radius * 4;

      &::after {
        height: 0;
        width: 0;
      }
    }

    &:hover > .react-resizable-handle {
      background-color: $color-primary;
    }
  }
}
