@import "/node_modules/react-grid-layout/css/styles.css";
@import "/src/boilerplate";
//@import "/node_modules/react-resizable/css/styles.css";

.DashboardContainer {
  height: 100%;
  overflow: hidden auto;
  position: relative;
  width: 100%;
}

.DashboardConfigurator {
  align-items: stretch;
  background-color: $color-background;
  border-bottom: $border-width $border-style $border-color;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $spacer;
  padding: 1rem;
  position: relative;
  top: 0;
  z-index: 1;

  h3 {
    font-size: 24px;
    padding-bottom: 5px;
    flex-basis: 100%;
  }

  .infoCustomizeStartpage {
    flex-basis: 100%;
    padding-bottom: 5px;

    span {
      font-size: 17px;
      vertical-align: text-top;
      margin-right: 5px;
    }
  }

  h4 {
    font-size: 20px;
  }

  //Tag list CSS
  .DashboardTagTracklistsForm {
    padding: 10px;
    border: 1px solid rgba($color-default, .5);
    border-radius: $border-radius;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-right: 1rem;
    margin-top: 1rem;
    max-width: calc(100% / 3);

    .button {
      margin-right: 10px;
    }

    &Selects {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      margin-right: $spacer / 4;

      .input-select {
        height: auto;
        margin-right: 10px;
      }
    }

    h4 {
      flex-basis: 100%;
    }

    .addTagNote {
      display: none;
    }

    &.noTagAvailable {
      .addTagNote {
        flex-basis: 100%;
        display: flex;

        a {
          color: $color-primary;
          padding: 0 3px;
        }
      }

      .input-select {
        pointer-events: none;
        opacity: .5
      }
    }
  }

  //Charts list CSS
  .DashboardChartsForm {
    padding: 10px;
    border: 1px solid rgba($color-default, .5);
    border-radius: $border-radius;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin-right: 1rem;
    margin-top: 1rem;

    &Selects {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      margin-right: $spacer / 4;

      .input-select {
        height: 100%;
        margin-right: 10px;
      }
    }

    .DashboardChartsFormButtons .button {
      margin-left: 10px;

    }

    h4 {
      flex-basis: 100%;
    }
  }

  // Checkboxes CSS
  .DashboardSettingsForm {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    border: 1px solid rgba($color-default, .5);
    border-radius: $border-radius;
    max-width: calc(100% / 3);
    margin-top: 1rem;

    .Checkbox {
      margin-right: $spacer;
    }
  }

  @media screen and(max-width: 1513px) {
    .DashboardTagTracklistsForm {
      max-width: unset;
      button:not(:last-child), .DashboardTagTracklistsForm select {
        margin-bottom: 5px;
      }
    }
  }
  @media screen and(max-width: 1100px) {
    .DashboardSettingsForm {
      max-width: unset;
      flex-direction: row;
    }
  }
}

.Dashboard {
  z-index: 0;

  .DashboardItem {
    background-color: $color-accent-dark;
    border-radius: $border-radius;
    box-sizing: border-box;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba($color-secondary, 0.1);

    //doesnt work with the context menu, please remove or specify elements
    // &>* {
    //   height: 100%;
    //   width: 100%;
    // }
  }

  .RemoveButton {
    background-color: lighten($color-accent-dark, 0.5);
    border: none;
    color: $color-default;
    display: none;
    opacity: 0;
    margin: 0;
    padding: $spacer / 2;
    position: absolute;
    right: 0;
    top: 0;
  }

  .DashboardItem:hover .RemoveButton {
    opacity: 1;
  }

  &.editable {
    .DashboardItem {
      cursor: move;

      & > *:not(.react-resizable-handle):not(.RemoveButton) {
        pointer-events: none;
      }
    }

    .RemoveButton {
      display: inline-flex;
    }
  }

  .react-grid-item {
    &.react-grid-placeholder {
      border-radius: $border-radius;
      background-color: transparentize($color-accent-dark, 0.5);
      opacity: 1;
      z-index: 0;
    }

    & > .react-resizable-handle {
      border-top-left-radius: $border-radius * 4;
      height: $border-radius * 4;
      width: $border-radius * 4;

      &::after {
        height: 0;
        width: 0;
      }
    }

    &:hover > .react-resizable-handle {
      background-color: $color-primary;
    }
  }
}

.light_mode {

  .DashboardConfigurator {
    background-color: $color-background-light;
    border-bottom: $border-width $border-style $button-border-color-light;
  }

  .DashboardTagTracklistsForm, .DashboardChartsForm, .DashboardSettingsForm {
    border-color: rgba($color-default-light, .3);
  }

  .Dashboard {
    .DashboardItem {
      background-color: $white;
      box-shadow: 0px 0px 10px 0px rgba($color-secondary, 0.1);
    }

    .RemoveButton {
      background-color: lighten($color-accent-light, 0.5);
      color: $color-default-light;
    }

    .react-grid-item {
      &.react-grid-placeholder {
        background-color: transparentize($color-accent-light, 0.5);
      }
    }
  }
}