@import "/node_modules/react-grid-layout/css/styles.css";
@import "/src/boilerplate";
//@import "/node_modules/react-resizable/css/styles.css";

$dashboard-item-border-radius: 20px;

.DashboardContainer {
  position: relative;
  overflow: hidden auto;
  width: 100%;
}

.DashboardConfigurator {
  padding: 16px;

  .DashboardChartsForm {}

  .DashboardSettingsForm {}
}

.Dashboard {
  .DashboardItem {
    background-color: $color-secondary;
    border-radius: $dashboard-item-border-radius;
    box-sizing: border-box;
    padding: 16px;
    overflow: hidden;
    position: relative;
    
    &>* {
      height: 100%;
      overflow: hidden auto;
      width: 100%;
    }
  }

  .react-grid-item {
    &.react-grid-placeholder {
      border-radius: $dashboard-item-border-radius;
      background-color: transparentize($color-secondary, 0.5);
      opacity: 1;
      z-index: 0;
    }

    & > .react-resizable-handle {
      border-top-left-radius: $dashboard-item-border-radius;
      height: $dashboard-item-border-radius;
      width: $dashboard-item-border-radius;

      &::after {
        height: 0;
        width: 0;
      }
    }

    &:hover > .react-resizable-handle {
      background-color: $color-primary;
    }
  }
}
