@import "./src/boilerplate.scss";

.Playlists {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.add-button {
  border-radius: $border-radius;
  padding: 4px 10px 1px 10px;
  background: $color-accent-dark;
  border: none;
  margin-left: 20px;
  font-size: 14px;
  font-family: $font-default;
  transition: $transition-base;

  &:hover {
    background-color: $color-primary;
  }

  .text {
    vertical-align: super;
  }

  .material-icons {
    color: $gray-light;
    vertical-align: baseline;
    font-size: 20px;
    margin-right: 5px;
  }
}

.light_mode {
  .add-button {
    background: $color-accent-light;

    &:hover {
      background-color: $color-primary;
    }

    .material-icons {
      color: $color-default-light;
    }
  }
}
