@import './src/boilerplate.scss';

.Searchbar {

  color: $white;

  .SearchbarInput {
    width: 80%;
    background: $color-secondary;
    padding: 9px 20px 9px 50px;
    border: none;
    border-radius: 50px;
  }

  .SearchbarInput::placeholder {
    color: $gray-light;
  }

  .search-icon {
    position: absolute;
    color: $gray-light;
    padding: 6px 16px;
  }

  .SearchbarResults {
    padding: 10px 20px;
    list-style-type: none;
  }

  .SearchbarResultItem {
    padding: 5px 0;

    img {
      margin-right: 10px;
    }
  }
}
