@import "src/boilerplate";

.CoverPlaceholder {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  width: 100%;
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .Rounded {
    border-radius: 50%;
  }
}
