@import './src/boilerplate.scss';

.top-bar {
  background: $color-primary;
  padding: 44px 32px;

  @include grid(
          $grid: manual,
          $grid-template-columns: 3,
          $grid-template-columns-md: 3,
          $grid-unequal: true,
          $margin: 2rem,
          $margin-md: 1rem,
          $margin-sm: 1rem
  );

  .top-bar-item {
    display: flex;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(3) {
      grid-column:3;
      grid-row: 1;
    }
  }

  .search {
    align-items: center;
    justify-content: flex-start;

    :first-child {
      flex-grow: 1;
    }
  }

  .volume, .settings {
    border: 2px solid darkred;
  }

  .volume {
    color: $gray-light;
    align-items: center;
    justify-content: flex-end;

    .settings-button {
      padding: 4px 7px;
      background: transparent;
      border: none;
    }

    .volume-slider {
      display: inline-block;
      width: 50%;
      margin-left: 10px;

      .rc-slider-track, .rc-slider-handle {
        background-color: $gray-light;
        border-color: $gray-light;
      }
    }
  }

  .settings {
    align-items: center;
    justify-content: flex-end;

    .settings-button {
      border-radius: 10px;
      padding: 4px 7px;
      background: $gray-dark;
      border: none;
      float: right;
      margin-left: 20px;

      .material-icons {
        color: $gray-light;
      }
    }
  }

}