@import './src/boilerplate.scss';

.section {
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;

  a {
    margin-right: 2rem;
    float: right;
    color: $gray-dark;
    text-decoration: none;
    transition: $transition-base;
    &:hover{
      color: $color-primary;
    }
  }
}

.searchPage {
  .overview-items {
    @media screen and(min-width: $breakpoint-sm) and(max-width: $breakpoint-md) {
      height: 25vh !important;
    }

    .column {
      @media screen and(min-width: $breakpoint-lg) {
        &:nth-of-type(n+6) {
          display: none;
        }
      }
      @media screen and(min-width: $breakpoint-md) and(max-width: $breakpoint-xl) {
        &:nth-of-type(n+5) {
          display: none;
        }
      }
      @media screen and(min-width: $breakpoint-sm) and(max-width: $breakpoint-md) {
        &:nth-of-type(n+4) {
          display: none;
        }
      }
      @media screen and(max-width: $breakpoint-sm) {
        &:nth-of-type(n+2) {
          display: none;
        }
      }
    }
  }
}
