@import './src/boilerplate';

.Checkbox {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  user-select: none;

  .CheckboxElement {
    display: none;
  }

  .CheckboxIcon {
    color: $gray-dark;
  }

  &.checked .CheckboxIcon {
    color: $color-accent-dark;
  }

  .CheckboxLabel {
    margin-left: 4px;
  }
}
