@import './src/boilerplate';

.Checkbox {
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  user-select: none;

  .CheckboxIcon {
    color: $gray-dark;
  }

  &.checked .CheckboxIcon {
    color: $checkbox-icon;
  }

  .CheckboxLabel {
    color: $color-default;
    margin-left: 4px;
  }
}
