@import './src/boilerplate.scss';

.AuthorizePage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .AuthorizePageInner {
    width: 500px;
    height: 500px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    border: 1px solid $gray-light;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;

    > div {
      align-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: visible;

      input[type="checkbox"] {
        position: absolute;
        top: 5px;
        left: 8px;
        font-size: 17px;
        color: $gray-dark;
      }

      p {
        margin-left: 2rem;
        color: $color-background;
      }
    }
  }

  .AuthorizePageLogo {
    max-width: 150px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .headlineBetterSpotify {
    text-align: center;
    color: $color-primary;

    .non-colored-headline, {
      color: $gray-dark;

    }
  }

  .ApprovalRequired {
    pointer-events: none;
    background: $gray;
    border-color: $gray-dark;
    color: $gray-light;
  }
}

