@import "./src/boilerplate.scss";

.ArtistSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 2rem;

  // Fix placeholder width for artists page
  .CoverPlaceholder{
    max-width: 250px;
  }

  .CoverList {
    a {
      @media screen and(max-width: 1902px) {
        &:nth-child(n+6) {
          display: none;
        }
      }

      @media screen and(max-width: 1630px) {
        &:nth-child(n+5) {
          display: none;
        }
      }

      @media screen and(max-width: 1314px) {
        &:nth-child(n+4) {
          display: none;
        }
      }

      @media screen and(max-width: 1053px) {
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
}

.Name {
  font-size: 24px;
}

.select {
  float: right;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;

  .input-select {
    height: 100%;
    border-radius: $border-radius;
    background: $color-accent-dark;
    border-color: $color-accent-dark;
  }
}

.artist-section ul {
  height: auto !important;
}

.cover {
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.header-section {
  display: block;
  font-family: $font-special;
  font-size: 24px;
  color: $color-default;
  margin-top: 4px;
}

.light_mode {
  .select .input-select {
    background: rgba($color-accent-light, 0.7);
  }
}

