@import './src/boilerplate.scss';

.section {
  margin-bottom: 2rem;
}

.header{

  .viewMoreLink{
    //margin-right: 2rem;
    float: right;
    color: $gray-dark;
    text-decoration: none;
    text-transform: none;
    &:hover {
      color: $color-primary;
    }
  }
}
.artist {
  .cover {
    width: 20%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: $border-radius;
    margin-bottom: 1rem;
  }

  .artists-name {
    display: block;
    font-family: $font-special;
    font-size: 24px;
    color: $color-default;
    margin-top: 4px;
  }
}
