@import "./src/boilerplate.scss";

.Discover {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 2rem;

  .CoverList {
    a {
      @media screen and(max-width: 1902px) {
        &:nth-child(n+6) {
          display: none;
        }
      }

      @media screen and(max-width: 1630px) {
        &:nth-child(n+5) {
          display: none;
        }
      }

      @media screen and(max-width: 1314px) {
        &:nth-child(n+4) {
          display: none;
        }
      }

      @media screen and(max-width: 1053px) {
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
}


