@import './src/boilerplate.scss';

.section {
  margin-bottom: 2rem;
}

// fix the overview page
.discover-parent .overview-items {
  height: auto !important;
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: start;

  a {
    margin-right: 2rem;
    float: right;
    color: $gray-dark;
    text-decoration: none;
    transition: $transition-base;

    &:hover{
      color: $color-primary;
    }
  }
}

.discover-font-adjustment {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    flex-basis: auto;
  }
  h3 {
    font-size: 20px;
    flex-basis: auto;
  }
}

.discover {
  .overview-items {
    @media screen and(min-width: $breakpoint-sm) and(max-width: $breakpoint-md) {
      height: 25vh !important;
    }

    .column {
      //3 columns when tablet
      @media screen and(min-width: $breakpoint-sm) and(max-width: $breakpoint-md) {
        width: calc(100% / 3 - 2rem);
        &:nth-last-child(-n+2) {
          display: none;
        }
      }

      //4 columns when bigger than tablet
      @media screen and(min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {

        width: calc(100% / 4 - 2rem);

        &:last-child {
          display: none;
        }
      }

      //5 columns when widescreen
      @media screen and(min-width: $breakpoint-xl) {
        width: calc(100% / 5 - 2rem);
      }
    }
  }
}

.light_mode .header a {
  color: $color-default-light;
}