/*
  You will find a collection of assets, variables and snippets of code.
  Furthermore some basic mixins are implemented -
  check SASS-Boilerplate Docu for further information: https://github.com/jakepanter/better-spotify/wiki/SASS-Documentation
*/

// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*
   Variables Setup
*/

// colors
$none: none;
$black: #000;
$white: #fff;
$gray-dark: #CDCECD;
$gray: #E4E3E2;
$gray-light: #F2F2F2;

// project base colors
$color-background: #131218;
$color-primary: #008FF7;
$color-secondary: #18283a;
$color-default: #E0E0E0;

// project special colors
$color-accent-dark: #1C1C23;
$color-accent-darker: #008FF7;
$color-accent-darkest: #0072C5;
$color-waring-dark: #F47960;
$color-waring-darker: #EA5030;
$color-waring-darkest: #D83010;
$color-positive-dark: #35DF91;
$color-positive-darker: #1EB972;
$color-positive-darkest: #188D58;

$checkbox-icon: $color-primary;

// Tags
$color-tag-0: $color-primary;
$color-tag-1: #FA7627;
$color-tag-2: #481CFC;
$color-tag-3: #F7DF19;
$color-tag-4: $color-positive-dark;
$color-tag-5: $color-waring-darker;


// Sizes
$breakpoint-sm: 48rem !default; // ~ 768px
$breakpoint-md: 61rem !default; // ~ 976px
$breakpoint-lg: 75rem !default; // ~ 1200px
$breakpoint-xl: 100rem !default; // ~ 1600px

// Panels
$side-panel-size: 190px;

// padding
$spacer: 2rem;
$padding-vertical: $spacer/2;
$padding-horizontal: 1rem;

// borders
$border-width: 1px;
$border-color: $color-primary;
$border-style: solid;
$border-radius: 5px;

// transitions
$transition-base: all 0.2s ease-in-out;

// fonts
$font-default: 'Roboto';
$font-special: 'Roboto Condensed';

$fz-base: 16px;
$lh-base: 1.5rem;
$ls-base: 0px;
$fw-base: 400;
$fs-base: normal;
$fw-bold: 700;

// shadows
$box-shadow: 0 0 ($spacer/2) rgba($gray-light, .7);

// Text - Headlines
$ff-headlines: $font-special;
$fz-h1: 40px;
$fz-h2: 20px;
$fz-h3: 28px;
$fz-h4: 24px;
$fz-h5: 20px;
$fz-h6: 18px;


// Buttons
$button-background: $color-primary;
$button-background-active: none;
$button-color: $white;
$button-color-active: $color-primary;
$ff-buttons: $font-default;
$lh-buttons: 1.5;
$ls-buttons: 0px;
$fw-buttons: $fw-base;
$tt-buttons: none;
$button-border-style: solid;
$button-border-width: 1px;
$button-border-color: $color-primary;
$button-border-color-active: $color-primary;
$button-border-radius: 0px;
$button-padding-horizontal: 10px;
$button-padding-vertical: 15px;
$button-transition-base: $transition-base;


/*
   STANDARD MIXINS
*/

@mixin columns(
  $columns-xl: 5,
  $columns: 3,
  $columns-md: 3,
  $columns-xs: 1,
  $margin-xl: 2rem,
  $margin: 2rem,
  $margin-md: $margin,
  $margin-xs: 1rem,
  $box-padding-xl: 1rem,
  $box-padding: 1rem,
  $box-padding-md: $box-padding,
  $box-padding-xs: 1rem
) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .column {
    border-radius: $border-radius;
    box-sizing: border-box;
    overflow: hidden;

    // Columns calculation for breakpoints
    // min 1600px
    @media screen and(min-width: $breakpoint-xl) {
      width: calc(100% / #{$columns-xl} - #{$margin-xl} * ((#{$columns-xl} - 1) / #{$columns-xl}));
      padding: $box-padding-xl;

      &:not(:nth-child(#{$columns-xl}n)) {
        margin-right: $margin-xl;
      }
    }
    @media screen and(max-width: $breakpoint-xl) and (min-width: $breakpoint-md) {
      width: calc(100% / #{$columns} - #{$margin} * ((#{$columns} - 1) / #{$columns}));
      padding: $box-padding;
      &:nth-child(#{$columns}n) {
        margin-right: 0;
      }
      &:not(:nth-child(#{$columns}n)) {
        margin-right: $margin;
      }
    }
    // breakpoint tablet
    @media screen and(max-width: $breakpoint-md) and (min-width: $breakpoint-sm) {
      width: calc(100% / #{$columns-md} - #{$margin-md} * ((#{$columns-md} - 1) / #{$columns-md}));
      padding: $box-padding-md;
      &:nth-child(#{$columns-md}n) {
        margin-right: 0;
      }
      &:not(:nth-child(#{$columns-md}n)) {
        margin-right: $margin-md;
      }

    }
    // breakpoint phone
    @media screen and(max-width: $breakpoint-sm) {
      width: 100%;
      padding: $box-padding-xs;
      margin-left: 0;
      margin-right: 0;
      &:nth-child(#{$columns-xs}n) {
        margin-right: 0;
      }

      &:not(:last-child) {
        margin-bottom: $margin-xs;
      }
    }
  }
};