@import "boilerplate";
@import "normalize-css";

.structure {
  display: flex;
  height: 100vh;
  width: 100%;
  background: $color-background;

  .minimizeMenuButton {
    position: absolute;
    left: 205px;
    bottom: 15px;
    z-index: 2;
    margin-top: 10px;
    background: $color-accent-dark;
    border-radius: $border-radius;
    border: 0.5px solid rgba($color-default, 0.1);
    padding: 0;

    &.positionMenuButton {
      left: 65px;
    }

    p {
      transition: $transition-base;
      padding: 3px;
    }

    .turned {
      transform: rotate(-180deg);
    }
  }


  &--left-panel {
    background: $color-accent-dark;
    border-right: 0.5px solid rgba($color-default, 0.1);
    padding: 1rem $padding-vertical $padding-horizontal $padding-vertical;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media screen and(min-width: $breakpoint-md) {
      box-sizing: content-box;
      width: $side-panel-size;
      min-width: $side-panel-size;
      &.minimizeMenu {
        width: 45px;
        min-width: 45px;

        a {
          padding: $button-padding-horizontal;
          width: auto;
        }

        .left-side-panel--text {
          display: none;
        }

        .left-side-panel--icon {
          margin-right: 0;
          font-size: 25px;
        }

        .logo {
          display: none;
        }

        .logoImg {
          display: block;
        }
      }
    }
  }

  &--main {
    height: 100vh;
    flex: 1 1 auto;
    overflow: hidden auto;
    padding: 0 $padding-horizontal;
    z-index: 0;
    scrollbar-width: none;
    flex-direction: column;
    display: flex;
  }

  @media screen and(max-width: $breakpoint-md) {
    flex-direction: column;
    &--left-panel {
      padding: 0;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 80px;
    }

    &--main {
      height: calc(100vh - 80px);
    }
  }

  &.light_mode {
    background: $color-background-light;

    .minimizeMenuButton {
      background: $white;
      border: 0.5px solid $gray-dark;
    }

    .structure--left-panel {
      background: $white;
      border-color: $gray-dark;
    }

    .structure--main {
      scrollbar-width: none; // fix
    }
  }
}

p {
  font-family: $font-default;
  line-height: $lh-base;
  letter-spacing: $ls-base;
  font-weight: $fw-base;
  font-style: $fs-base;
  max-width: 100%;
  color: $color-default;
}

td, th {
  color: $color-default;

}

// Button
.button {
  padding: $button-padding-horizontal $button-padding-vertical;
  display: inline-block;
  font-family: $ff-buttons;
  line-height: $lh-buttons;
  letter-spacing: $ls-buttons;
  font-weight: $fw-buttons;
  text-transform: $tt-buttons;
  text-decoration: none;
  font-style: $fs-base;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
  max-width: 100%;
  transition: $button-transition-base;
  background: $button-background;
  color: $button-color;
  border-color: $button-border-color;

  &.active:enabled,
  &:hover:enabled {
    background: $button-background-active;
    color: $button-color-active;
    border-color: $button-border-color-active;
    cursor: pointer;
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.input {
  border: none;
  border-bottom: $border-width*2 $border-style rgba(224, 224, 224, 0.1);
  background-color: transparent;
  color: $color-default;
  display: inline-block;

  &:focus {
    outline: none;
    border-bottom-color: $color-primary;
  }

  &:invalid {
    border-bottom-color: $color-waring-darker;
  }
}

.input-select {
  padding: $button-padding-horizontal $button-padding-vertical;
  display: inline-block;
  font-family: $ff-buttons;
  line-height: $lh-buttons;
  letter-spacing: $ls-buttons;
  font-weight: $fw-buttons;
  text-transform: $tt-buttons;
  text-decoration: none;
  font-style: $fs-base;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
  max-width: 100%;
  transition: $button-transition-base;
  background: $button-background;
  color: $button-color;
  border-color: $button-border-color;

  option {
    background-color: $white;
    color: $black;
  }

  &.active,
  &:hover {
    background: $button-background-active;
    color: $button-color-active;
    border-color: $button-border-color-active;
    cursor: pointer;
    text-decoration: none;
  }
}

// Checkbox (re-styled button)
.checkbox {
  background: none;
  border: none;
  border-radius: 50%;
  color: $color-default;
  display: inline-block;
  padding: $button-padding-vertical;

  &:enabled {
    cursor: pointer;
  }

  &.checked {
    color: $color-primary;
  }
}

// Headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-headlines;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-default;
  margin-top: 0;
}

h1 {
  font-size: $fz-h1;
}

h2 {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-bottom: 1px solid rgba($color-default, 0.1);
  font-size: $fz-h2;
}

h3 {
  font-size: $fz-h3;
}

h4 {
  font-size: $fz-h4;
}

h5 {
  font-size: $fz-h5;
}

h6 {
  font-size: $fz-h6;
}

// Scrollbar
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba($color-default, 0.5) rgba($color-default, 0.1);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba($color-default, 0.1);
  border-radius: $border-radius;

}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color-default, 0.5);
  border-radius: $border-radius;
}

.light_mode {
  p {
    color: $color-default-light;
  }

  td, th {
    color: $color-default-light;

  }

  // Button
  .button {
    background: $none;
    color: $button-color-light;
    border-color: $button-border-color-light;

    &.active:enabled,
    &:hover:enabled {
      background: $button-background-active-light;
      color: $button-color-active-light;
      border-color: $button-border-color-active-light;
    }
  }

  .input {
    border: none;
    border-bottom: $border-width*2 $border-style rgba(224, 224, 224, 0.1);
    background-color: transparent;
    color: $color-default;
    display: inline-block;

    &:focus {
      outline: none;
      border-bottom-color: $color-primary;
    }

    &:invalid {
      border-bottom-color: $color-waring-darker;
    }
  }

  .input-select {
    background: $button-background-light;
    color: $button-color-light;
    border-color: $button-border-color-light;

    option {
      background-color: $white;
      color: $black;
    }

    &.active,
    &:hover {
      background: $button-background-active-light;
      color: $button-color-active-light;
      border-color: $button-border-color-active-light;
    }
  }

  // Checkbox (re-styled button)
  .checkbox {
    color: $color-default-light;
  }

  // Headlines
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-default-light;
  }

  h2 {
    border-bottom: 1px solid rgba($color-default, 0.9);
  }

  // Scrollbar
  /* Works on Firefox */
  * {
    scrollbar-color: rgba($color-default-light, 0.5) rgba($color-default-light, 0.1);
  }

  *::-webkit-scrollbar-track {
    background: rgba($color-default-light, 0.1);

  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba($color-default-light, 0.5);
  }
}