@import "./src/boilerplate.scss";

.Releases {
  display: flex;
  flex-flow: column nowrap;
  // need this calculation to fix the player position - if change, check if player position is correct on the very end of the page
  height: calc(100% - 150px);
  // height: 100%;
  flex-grow: 1;
  overflow: hidden;
}
