@import "src/boilerplate";

.EpisodeDescription {
  display: flex;
  flex-direction: column;
  color: $gray-dark;
  border-top: 1px solid rgba(205, 206, 205, 0.11);
  padding: 32px;
  font-size: $fz-h6;
  opacity: 0.8;
  line-height: 140%;

  h4 {
    padding-bottom: 16px;
    text-transform: none;

  }
}

.EpisodeControl {
  width: 100%;
  display: flex;
  padding-bottom: 16px;

  .PlayEpisode {
    margin-left: 32px;
    flex: 0 0 42px;
    width: 62px;
    position: relative;
    justify-content: center;
    align-items: flex-start;

    &:hover::before {
      color: $color-primary;
    }

    &:before {
      content: "\e038";
      font-family: "Material Icons";
      width: 60px;
      display: inline-block;
      font-size: 60px;
      text-align: center;
      color: rgba($white, 0.45);
      transition: $transition-base;
    }
  }

  .progress-bar {
    margin-left: 8px;
    background: $white;
    border-radius: 99px;
    width: 200px;
    height: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    
    &::before {
      border-radius: 99px;
      position: absolute;
      height: 5px;
      background: $color-primary;
      content: '';
      width: 0;
      transition: width .2s;
    }
  }
  
  $start: 1;
  $end: 100;
  
  @for $i from $start through $end {
    .progress-bar-#{$i}::before { width: $i * 1% }
  }

  .AllEpisodes {
    padding: 4px 10px 1px 10px;
    align-items: flex-end;
    background-color: #1C1C23;
    border-radius: 5px;
    max-height: 25px;
    border-color: #1C1C23;
    margin: 16px 32px 16px auto;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}

.PlaylistHeaderCover {
  img {
    width: 123px;
  }
}

.light_mode {
  .EpisodeDescription {
    color: $color-default-light;
    border-top: 1px solid rgba($color-default-light, 0.20);
  }

  .EpisodeControl .PlayEpisode {
    &:before {
      color: rgba($color-primary, 0.85);
    }

    &:hover::before {
      color: rgba($color-primary, 1);
    }
  }

  .AllEpisodes {
    background-color: $color-accent-light;
    border-color: $color-accent-light;
  }
}