@import "./src/boilerplate.scss";
.Discography {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  height: 100%;
  overflow: hidden auto;
  // scrollbar-width: none;
  .Playlist {
    height: auto;
    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }
}
