@import "src/boilerplate";

.Playlist {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  &HeaderCompact {
    h2 {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &HeaderFull {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: $spacer;

    h4 {
      text-transform: none;
      opacity: 0.8;
    }
  }

  &Header {
    flex: 0 0 auto;

    h1, h2 {
      margin-bottom: 0;
      border-bottom: none;
    }

    &Cover {
      width: 123px;

      &>img {
        border-radius: $border-radius;
        width: 100%;
      }
    }

    &Meta {
      flex: 1 1 auto;
      padding: 0 ($spacer / 2);
    }

    &Filter {
      padding: $spacer / 2;
      width: 30%;
    }
  }

  .Tracklist {
    flex: 1 1 auto;
  }
}
