@import "./src/boilerplate.scss";

.Settings {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  &Section {
    display: flex;
    flex-flow: column nowrap;

    &Heading {
    }

    &Row {
    }
  }

  .SpacingTop {
    margin-top: $spacer / 2;

    .button {
      background: none;
      margin-right: 10px;
      border-radius: $border-radius;
      padding: 10px;
      line-height: 0;
      transition: $transition-base;

      &:hover {
        background: $color-primary;

        span {
          color: $white;
        }
      }

      &:disabled,
      &[disabled]{
        border-color: $gray;
        pointer-events: none;
      }
    }
  }
}

.SettingsSectionTags {
  color: $color-default;

  .Dialog .TagColor {
    opacity: .8;
    transition: $transition-base;

    &:hover {
      opacity: 1;
    }
  }

  .TagList {
    background: transparent;
    border: $border-width $border-style rgba(224, 224, 224, 0.1);
    border-radius: $border-radius;
    overflow: hidden auto;

    &:focus {
      outline: none;
    }
  }

  option {
    padding: $button-padding-vertical + 2px $button-padding-horizontal + 2px;

    &:enabled {
      cursor: pointer;
    }

    &:checked {
      border: 2px solid currentColor;
      padding: $button-padding-vertical $button-padding-horizontal;
    }
  }

  .Label {
    color: transparentize($color-default, 0.5);
    display: flex;
    flex-flow: column nowrap;
    font-size: 14px;
    margin-bottom: $spacer;

    & > * {
      margin-top: $spacer / 4;
    }

    .input {
      font-size: 16px;
      padding: 4px 0;
    }
  }

  .Tag {
    &Color0,
    &Color0:checked,
    &Color0:focus,
    &Color0:hover {
      background: $color-tag-0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk6P/+HwAEpAKHdCyqmAAAAABJRU5ErkJggg==) repeat;
      color: $color-default;
    }

    &Color1,
    &Color1:checked,
    &Color1:hover {
      background: $color-tag-1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8Vab+HwAGoQKYdNiqNwAAAABJRU5ErkJggg==) repeat;
      color: $color-accent-dark;
    }

    &Color2,
    &Color2:checked,
    &Color2:hover {
      background: $color-tag-2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP0kPnzHwAEdQJhnGYzsQAAAABJRU5ErkJggg==) repeat;
      color: $color-default;
    }

    &Color3,
    &Color3:checked,
    &Color3:focus,
    &Color3:hover {
      background: $color-tag-3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8fl/yPwAHtALwtWw5/gAAAABJRU5ErkJggg==) repeat;
      color: $color-accent-dark;
    }

    &Color4,
    &Color4:checked,
    &Color4:hover {
      background: $color-tag-4 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPk+T73PwAFWAKh28WaywAAAABJRU5ErkJggg==) repeat;
      color: $color-accent-dark;
    }

    &Color5,
    &Color5:checked,
    &Color5:hover {
      background: $color-tag-5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8Jcb/HwAFUQIgkCwlbQAAAABJRU5ErkJggg==) repeat;
      color: $color-default;
    }
  }
}
