@import "./src/boilerplate.scss";

.szh-menu {
    background-color: $color-background;

    &__item {
        color: $color-default;
        &--hover {
          background-color: $color-accent-dark;
        }
    }
}