@import "./src/boilerplate.scss";

.szh-menu {
  background-color: $color-background;

  &__divider {
    height: 1px;
    margin: 0.25rem 0;
    background-color: rgb(87, 87, 87);
  }

  &__item {
    color: $color-default;
    &--hover {
      background-color: $color-accent-dark;
    }
    &--disabled {
      color: darkgrey;
    }
  }
}
